* {
box-sizing: border-box;
}


@media (min-width: 768px) {

    .search {
        display: block;
        width: 500px;
        height: 40px;
        margin: 15px auto;
        outline: none;
        border-radius: 5px;
        border: 1px solid lightgrey;
    }

    .gallery {
        max-width: 850px; 
        margin: auto;
        display: grid;
        grid-template-columns: repeat(4, 200px); 
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 20px;
        justify-content: center;
    } 

    input[type='search']::placeholder {
        padding-left: 10px;
        font-size: .8em;
    }
}




body {
    background-color: rgb(239, 250, 255);
}

    .gallery {
        margin: 0 auto;
        display: grid;
        /* grid-template-columns: repeat(2, 200px);
        grid-template-rows: repeat(6, 1fr); */
        justify-content: center;

    }

    .search {
            display: block;
            width: 200px;
            height: 40px;
            margin: 15px auto;
            outline: none;
            border-radius: 5px;
            border: 1px solid lightgrey;
        }
    

    body{
        overflow-x: hidden;
    }

    input[type='search']::placeholder {
        padding-left: 10px;
        font-size: .6em;
    }

    img{
        margin-bottom: 10px;
        border-radius: 6px;
        box-shadow: 10px 10px 30px grey;
    }
  
   